<head>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  </head>

    <div style=" float:left ; height:100vh ; width:20vw ;overflow:hidden ; position:fixed ; left:0.5vw ; top:0.5vh">
      <h1 style="font-size:2vw">Curriculum Vitae</h1>
      <p style="font-size:1vw; margin-top:10%"><b>Downloadable PDF: &nbsp; <a href="../assets/CV.pdf" download="CV.pdf"><u>CV.pdf</u></a></b></p>
    </div>
    <div class="toggle-container">
        <button class="mdc-button mdc-button--raised" (click)="toggle()" style="position:sticky; width:10vw; height:6vh; min-height:30px ; border-radius:5%" [ngStyle]="{'background-color':background, 'color':text}">
            <span class="mdc-button__label" style="font-size:0.8vw">Toggle page colour</span>
          </button>
    </div>

    <app-section [theme_text]="text" [theme_background]="background"></app-section>


