<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="card-container" *ngIf="text_colour == 'white'" [ngStyle]="{'color':text_colour}">

 <!---->   <div class="card d" target="_blank" [routerLink]="['/cv']" rel="noopener" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid; text-decoration:none">
      <span class="material-symbols-outlined">Description </span>
      <span>CV</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/college']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined">school</span>
      <span>College Work</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" href="https://gitlab.com" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gitlab"><path d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z"></path></svg></span>
      <span>GitLab</span>
    </div>
    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/finance']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"> calculate </span>
      <span>Finance</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/books']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"> Book </span>
      <span>Book Reviews</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/timeline']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined" >Newspaper </span>
      <span>Timeline</span>
    </div>
  </div>


<div class="card-container" *ngIf="text_colour == 'black'">

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/cv']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined" >Description </span>
      <span>CV</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/college']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined">school</span>
      <span>College Work</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" href="https://gitlab.com" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gitlab"><path d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z"></path></svg></span>
      <span>GitLab</span>
    </div>
    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/finance']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"> calculate </span>
      <span>Finance</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/books']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"> Book </span>
      <span>Book Reviews</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/timeline']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined">Newspaper </span>
      <span >Timeline</span>
    </div>

  </div>

