<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="card-container" *ngIf="text_colour == 'white'" [ngStyle]="{'color':text_colour}">

 <!---->   <div class="card d" target="_blank" [routerLink]="['/cv']" rel="noopener" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid; text-decoration:none">
      <span class="material-symbols-outlined">Description </span>
      <span>CV</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/college']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined">school</span>
      <span>College Work</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" href="https://gitlab.com" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined">
        open_in_new
      </span>
      <span>GitLab</span>
    </div>
    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/finance']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"> calculate </span>
      <span>Finance</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/books']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"> Book </span>
      <span>Book Reviews</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/timeline']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined" >Newspaper </span>
      <span>Timeline</span>
    </div>
  </div>


<div class="card-container" *ngIf="text_colour == 'black'">

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/cv']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined" >Description </span>
      <span>CV</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/college']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined">school</span>
      <span>College Work</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" href="https://gitlab.com" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined">
        open_in_new
      </span>
      <span>GitLab</span>
    </div>
    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/finance']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"> calculate </span>
      <span>Finance</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/books']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined"> Book </span>
      <span>Book Reviews</span>
    </div>

    <div class="card d" target="_blank" rel="noopener" [routerLink]="['/timeline']" [ngStyle]="{'background-color':bg_colour}" style="border:2px solid">
      <span class="material-symbols-outlined">Newspaper </span>
      <span >Timeline</span>
    </div>

  </div>

