<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="content" role="main" style = "position:absolute; left:30px; top:150px; opacity:100%;">
    <!-- Highlight Card -->
    <!-- Resources -->


<div *ngIf="text_colour == 'ghostwhite'">
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://gitlab.com" [ngStyle]="{'background-color':bg_colour}">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
      <span>GitLab</span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="finance" [ngStyle]="{'background-color':bg_colour}">
      <span class="material-symbols-outlined"> calculate </span>
      <span>Finance</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="books" [ngStyle]="{'background-color':bg_colour}">
      <span class="material-symbols-outlined"> Book </span>
      <span>Book Reviews</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="/" [ngStyle]="{'background-color':bg_colour}">
      <span class="material-symbols-outlined" >Newspaper </span>
      <span>Op-Ed</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="" [ngStyle]="{'background-color':bg_colour}">
      <span class="material-symbols-outlined">kitesurfing </span>
      <span>Timeline</span>
    </a>
  </div>
</div>


<div *ngIf="text_colour == 'black'">
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://gitlab.com" [ngStyle]="{'background-color':bg_colour, 'border-width':0}">
      <span class="material-symbols-outlined" style="color:black">School </span>
      <span style="color:black">GitLab</span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="finance" [ngStyle]="{'background-color':bg_colour, 'border-width':0}">
      <span class="material-symbols-outlined" style="color:black"> calculate </span>
      <span style="color:black">Finance</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="books" [ngStyle]="{'background-color':bg_colour, 'border-width':0}">
      <span class="material-symbols-outlined" style="color:black"> Book </span>
      <span style="color:black">Book Reviews</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="/" [ngStyle]="{'background-color':bg_colour, 'border-width':0}">
      <span class="material-symbols-outlined" style="color:black">Newspaper </span>
      <span style="color:black">Op-Ed</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="" [ngStyle]="{'background-color':bg_colour, 'border-width':0}">
      <span class="material-symbols-outlined" style="color:black">kitesurfing </span>
      <span style="color:black">Timeline</span>
    </a>
  </div>
</div>
</div>

  <div class="content" role="main" style = "position:absolute; left:560px; top:300px; opacity:100%;">

    <div class="card-container">
      <div *ngIf="text_colour == 'ghostwhite' ">
        <a class="card-cv" target="_blank" rel="noopener" href="cv" [ngStyle]="{'background-color':bg_colour}">
          <span class="material-symbols-outlined">Description </span>
          <span>CV</span>
        </a>
      </div>
      <div *ngIf="text_colour == 'black' ">
        <a class="card-cv" target="_blank" rel="noopener" href="cv" [ngStyle]="{'background-color':bg_colour, 'border-width':0}">
          <span class="material-symbols-outlined" style="color:black">Description </span>
          <span style="color:black">CV</span>
        </a>
      </div>
    </div>
  
  </div>