<div class="content" [ngStyle]="{'color':theme_text}">
  <div class="page" [ngStyle]="{'background-color':theme_background}">
    <h2 [ngStyle]="{'color':theme_text}">Sean Fahey</h2>
    <div style="height:0.2%; width:86% ;position:relative; left:7% ;" [ngStyle]="{'background-color':theme_text}"></div>
    <div class="text-box">
      <p><b>D.O.B:</b>&nbsp;&nbsp;27.09.2000</p>
      <p><b>Email:</b><a href="mailto:faheyse@tcd.ie">&nbsp;&nbsp;faheyse@tcd.ie</a></p>
    </div>
    <div class="text-box">
      <p>
        Currently completing my 4th year in Electronic & Computer Engineering at Trinity College Dublin. I have a strong interest in technology and in particular the semiconductor industry. 
        <br>I have a start-up work ethic and hold myself to a high standard in all my work. I like to offer contrarian views and prioritise first principles thinking when tackling difficult problems.
          I believe in using an idea meritocracy wherever possible and avoiding preconceptions and prejudices. I have a wide range of interests and I enjoy learning new skills.             
      </p>
    </div>
  </div>

  <div class="page" [ngStyle]="{'background-color':theme_background}">
    <h2>Education & Qualifications</h2>
    <div style="height:0.2%; width:86% ;position:relative; left:7% ;" [ngStyle]="{'background-color':theme_text}"></div>

    <div class="text-box">
      <p>
        <a href="../../../assets/LeavingCert_2019.pdf" target="tab">
          <u><b><i>Leaving Certificate 2019</i></b></u> <span class="material-symbols-outlined ico">file_open</span>
        </a>
      </p>
      <p >Scored 613 points</p>
      <p>Physics, Applied Maths, Maths, French, Spanish, Geography, English</p>
    </div>

    <div class="text-box">
      <p><b>Secondary Education:<br></b>
      <p>St.Michael's College<br>
      The Institute of Education Dublin (5th & 6th Year)</p>
    </div>

    <div class="text-box">
      <p>
        <b>University College Dublin (1<sup>st</sup> & 2<sup>nd</sup> Year)</b><br>
        Entrance Scholar award 2019<br>
        Bachelor of Science in Electrical Engineering<br>
      </p>
    </div>

    <table>
      <tr>
        <th><u>1<sup>st</sup> Year</u></th>
        <th><u>2<sup>nd</sup> Year</u></th>
      </tr>
      <tr>
        <td>Advanced Calculus</td>
        <td>Biomedical Science</td>
      </tr>
      <tr>
        <td>Digital Electronics</td>
        <td>Materials Science
        </td>
      </tr>
      <tr>
        <td>UNIX Programming</td>
        <td>Engineering Computing</td>
      </tr>
      <tr>
        <td>Electrical Circuits </td>
        <td>Physics for Engineers I</td>
      </tr>
      <tr>
        <td>Project Management</td>
        <td>Chemistry for Engineers</td>
      </tr>
      <tr>
        <td>Solid State Electronics</td>
        <td>Linear Algebra</td>
      </tr>
      <tr>
        <td>Multivariable Calculus </td>
        <td>Calculus for Engineers</td>
      </tr>
      <tr>
        <td>Statistics & Probability</td>
        <td>Mechanics</td>
      </tr>
      <tr>
        <td>Electrical Energy Systems</td>
        <td>Physics for Engineers II</td>
      </tr>
    </table>


  </div>

  <div class="page" [ngStyle]="{'background-color':theme_background}">
    <div class="text-box" style="padding-top:0; text-align:left">
      <p><b>Trinity College Dublin (3<sup>rd</sup>Year - Present)</b></p>
      <p>Joined Trinity College Dublin to study Electronic & Computer Engineering Joint Honours Programme</p>
    </div>

    <table>
      <tr>
        <th><u>3<sup>rd</sup> Year</u></th>
        <th><u>4<sup>th</sup> Year</u></th>
      </tr>
      <tr>
        <td>Engineering Mathematics V</td>
        <td>Integrated Systems Design </td>
      </tr>
      <tr>
        <td>Data Structures & Algorithms</td>
        <td>Deep Learning</td>
      </tr>
      <tr>
        <td>Microprocessor Systems</td>
        <td>Digital Signal Processing</td>
      </tr>
      <tr>
        <td>Digital Systems Design</td>
        <td>Management For Engineers</td>
      </tr>
      <tr>
        <td>Signals & Systems</td>
        <td>Research methods</td>
      </tr>
      <tr>
        <td>Computer Networks</td>
        <td>Open Reconfigurable Networks</td>
      </tr>
      <tr>
        <td>Telecommunications</td>
        <td> Control Engineering I</td>
      </tr>
      <tr>
        <td>Probability & Statistics</td>
        <td> Intro To Autonomous Mobile Robotics</td>
      </tr>
      <tr>
        <td>Digital Circuits</td>
        <td></td>
      </tr>
    </table>

    <div class="text-box">
      <p ><b>Tools & Languages:</b><br> Python, Go, Typescript, C/C++,  HTML, CSS, bash, R, MATLAB, Wolfram Mathematica, Verilog, Xilinx Vivado, NI Multisim, LT SPICE</p>
    </div>
  </div>

  <div class="page" [ngStyle]="{'background-color':theme_background}">
    <h2 style="height:20px ; position:relative; z-index:10;">Work Experience</h2>
    <div style="height:0.2%; width:86% ;position:relative; left:7% ;" [ngStyle]="{'background-color':theme_text}"></div>

    <div class="text-box" style="text-align:left">  
      <p [ngStyle]="{'color':theme_text}" style="margin-bottom:2px;margin-top:15px;"><b>EY Technology Consulting Internship</b></p>
      <p [ngStyle]="{'color':theme_text}" style="margin-bottom:10px; margin-top:0px;">
        Was assigned to a team managing the implementation of a software product at an Irish bank, and was involved
         in a group project assessing the carbon footprint of a company's infrastructure.
      </p>
    </div>

    <div class="text-box" style="text-align:left">  
      <p [ngStyle]="{'color':theme_text}" style="margin-bottom:2px;margin-top:20px;"><b>MUFG Fund Services (Financial Services)</b></p>
      <p [ngStyle]="{'color':theme_text}" style="margin-bottom:0px; margin-top:0px;">Fraud & Cyber Security project work - Transition Year</p>
      </div>

    <div class="text-box" style="text-align:left">  
      <p [ngStyle]="{'color':theme_text}" style="margin-bottom:2px;margin-top:25px;"><b>Festo (Pneumatic automation)</b></p>
      <p [ngStyle]="{'color':theme_text}" style="margin-bottom:0px; margin-top:0px;">Design engineer assistant on various projects - Transition Year</p>
    </div>

  </div>

  <div class="page" [ngStyle]="{'background-color':theme_background}">
    <h2 style="height:20px ; position:relative; z-index:10;">Language Skills</h2>
    <div style="height:0.2%; width:86% ;position:relative; left:7% ;" [ngStyle]="{'background-color':theme_text}"></div>

    <div class="text-box">
      <p><b>English:</b>&nbsp;&nbsp;Native speaker</p>
      <p><b>French:</b>&nbsp;&nbsp;Native speaker, H1 Leaving Certificate</p>
      <p><b>Spanish:</b>&nbsp;&nbsp;Basic, H1 Leaving Certificate</p>
    </div>

  </div>

  <div class="page" [ngStyle]="{'background-color':theme_background}">
    <h2 >Other Interests</h2>
    <div style="height:0.2%; width:86% ;position:relative; left:7% ;" [ngStyle]="{'background-color':theme_text}"></div>
    <div class="text-box">
      <p><b>Books:</b></p>
      <p>Nassim Taleb - Incerto Series, &nbsp; Ray Dalio - Principles, <br> 
                                 David Graeber - Debt, &nbsp; Peter Thiel - Zero to One, <br>
                                 Ayn Rand - The Fountainhead, &nbsp; <br>
                                 Niall Ferguson - The Ascent of Money, &nbsp; The Square and the Tower</p>
    </div>
    <div class="text-box">
      <p>Trinity Entrepreneurial Society, Student Managed Fund (Trinity College)</p>  
    </div>
    <div class="text-box">
      <p>Fitness, football, tennis, golf</p>
    </div>
    <div class="text-box">
      <p><b>Media:</b> &nbsp; The All-in Podcast, Wallstreet Journal, Bloomberg</p>
    </div>
    <div style="height:26.5vh">

    </div>
  </div>

</div>