<div class="content" role="main" style = "position:relative; width:100% ; top:0%; opacity:100%;">
  <div class="card-container">
     <div class="page" [ngStyle]="{'background-color':theme_background , 'color':theme_text}">             <!-- COLOUR -->
      <h2 [ngStyle]="{'color':theme_text}" style="height:20px ; position:relative; z-index:10;">Sean Fahey</h2>
      <div style="height:1pt; width:550px ;position:relative; top:15px ; left:20px ;" [ngStyle]="{'background-color':theme_text}">
        <div class="content-card" [ngStyle]="{'background-color':theme_background,'color':theme_text}">
          <p style="line-height: 10px;" [ngStyle]="{'color':theme_text}"><b>D.O.B:</b>&nbsp;&nbsp;27.09.2000</p>
          <p style="line-height:10px ;margin-bottom:40px;" [ngStyle]="{'color':theme_text}"><b>Email:</b><a [ngStyle]="{'color':theme_text}" href="mailto:faheyse@tcd.ie">&nbsp;&nbsp;faheyse@tcd.ie</a></p>
          <p [ngStyle]="{'color':theme_text}">Currently completing my 4th year in Electronic & Computer Engineering at Trinity College Dublin. I have a strong interest in technology and in particular the semiconductor industry. 
            I have a start-up work ethic and hold myself to a high standard in all my work. I like to offer contrarian views and prioritise first principles thinking when tackling difficult problems. I believe in using an idea meritocracy wherever possible and avoiding preconceptions and prejudices. I have a wide range of interests and I enjoy learning new skills.             
          </p>
        </div>
      </div>
        
      </div>
    </div>
  <div>
    <div class="card-container">
      <div class="page"  [ngStyle]="{'background-color':theme_background , 'color':theme_text}">
        <h2 style="height:20px ; position:relative; z-index:10;">Education & Qualifications</h2>
        <div style="height:1pt; width:550px ;position:relative; top:15px ; left:20px ;" [ngStyle]="{'background-color':theme_text}">
          <div class="content-card">
            <p [ngStyle]="{'color':theme_text}" style="margin-bottom:20px;"><b>languages:</b> Python, Go, Typescript, C/C++, R, MATLAB, Wolfram, HTML, CSS</p>
            <p [ngStyle]="{'color':theme_text}" style="margin-bottom:1px;"><a href="../../../assets/LeavingCert_2019.pdf" target="tab"><u [ngStyle]="{'color':theme_text}"><b>Leaving Certificate 2019</b></u></a></p>
            <p style="margin-top:0px;margin-bottom:0px;">Scored 613 points</p>
            <p style="margin-top:0px; margin-bottom:20px;">Physics, Applied Maths, Maths, French, Spanish, Geography, English</p>
            <p [ngStyle]="{'color':theme_text}" style="margin-bottom:0px; margin-top:10px; "><b>Secondary Education:</b></p>
            <p [ngStyle]="{'color':theme_text}" style="margin-top:0px; margin-bottom:15px;">St.Michael's College</p>
            <p [ngStyle]="{'color':theme_text}" style="margin-bottom: 10px ; margin-top:10px;"><b>The Institute of Education Dublin (5th & 6th Year)</b></p>
            <p [ngStyle]="{'color':theme_text}" style="margin-bottom:2px;margin-top:15px;"><b>University College Dublin (1<sup>st</sup> & 2<sup>nd</sup> Year)</b></p>
            <p [ngStyle]="{'color':theme_text}" style="margin-bottom:0px; margin-top:0px;">Entrance Scholar award 2019</p>
            <p [ngStyle]="{'color':theme_text}" style="margin-bottom:15px; margin-top:0px;">Bachelor of Science in Electrical Engineering</p>
            <div>
              <table [ngStyle]="{'color':theme_text}">
                <tr>
                  <th><u>1<sup>st</sup> Year</u></th>
                  <th><u>2<sup>nd</sup> Year</u></th>
                </tr>
                <tr>
                  <td>Advanced Calculus</td>
                  <td>Biomedical Science</td>
                </tr>
                <tr>
                  <td>Digital Electronics</td>
                  <td>Materials Science
                  </td>
                </tr>
                <tr>
                  <td>UNIX Programming</td>
                  <td>Engineering Computing</td>
                </tr>
                <tr>
                  <td>Electrical Circuits </td>
                  <td>Physics for Engineers I</td>
                </tr>
                <tr>
                  <td>Project Management</td>
                  <td>Chemistry for Engineers</td>
                </tr>
                <tr>
                  <td>Solid State Electronics</td>
                  <td>Linear Algebra</td>
                </tr>
                <tr>
                  <td>Multivariable Calculus </td>
                  <td>Calculus for Engineers</td>
                </tr>
                <tr>
                  <td>Statistics & Probability</td>
                  <td>Mechanics</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    <div>


      <div class="card-container">
        <div class="page" [ngStyle]="{'background-color':theme_background , 'color':theme_text}">             <!-- COLOUR -->
           <div class="content-card" [ngStyle]="{'background-color':theme_background,'color':theme_text}">
            <p [ngStyle]="{'color':theme_text}" style="margin-bottom:25px; margin-top:5px; ">Joined Trinity College Dublin to study Electronic & Computer Engineering Joint Honours Programme</p>
            <p [ngStyle]="{'color':theme_text}" style="margin-top:0px; margin-bottom:5px;">The Institute of education&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;5<sup>th</sup> & 6<sup>th</sup>&nbsp; year</p>
           </div>
         </div>
       </div>


    <div class="card-container">
      <div class="page" [ngStyle]="{'background-color':theme_background,'color':theme_text}">
        <h2 style="height:20px ; position:relative; z-index:10;">Work Experience</h2>
        <div style="height:1pt; width:550px ;position:relative; top:15px ; left:20px ;" [ngStyle]="{'background-color':theme_text}"></div>
      </div>
    <div>

      <div class="card-container">
        <div class="page" [ngStyle]="{'background-color':theme_background,'color':theme_text}">
          <h2 style="height:20px ; position:relative; z-index:10;">Language Skills</h2>
          <div style="height:1pt; width:550px ;position:relative; top:15px ; left:20px ;" [ngStyle]="{'background-color':theme_text}"></div>
          <div class="content-card">
            <p style="line-height: 10px;"><b>French:</b>&nbsp;&nbsp;Native speaker, H1 Leaving Certificate</p>
            <p style="line-height: 10px;"><b>Spanish:</b>&nbsp;&nbsp;Basic, H1 Leaving Certificate</p>
          </div>
        </div>
      <div>
  
</div>

