#container {
    display: grid;
    grid-template-rows: repeat(3, 100%);
    grid-template-columns: 1fr 1fr;
    width:95%;
    height:60%;
    row-gap: 2%;
    margin-left:3%;
    margin-right:5%;
  }
  
  #container > div {
    border-bottom:solid gray 3px;
    justify-content: center;
  }  

iframe {
    width:90% ; 
    height:80%;
    margin-top:5%;
    margin-bottom:3%;
}
 
.text-box {
    margin-left:5%; 
    text-align: center;
    margin-top:10%;
}

p {
    color:rgb(174, 174, 174);
    font-size: 1.1vw;
}

h2 {
    color:gray;
    font-size:2vw;
}