
<div id="container">
    <div>   <iframe src="https://www.youtube.com/embed/HZcXup7p5-8"></iframe>   </div>

    <div>   
        <div class="text-box">
                <h2>Vinod Khosla</h2>
                <p>Vinod Khosla, who goes by 'VK', is an Indian-American venture capitalist and was a co-founder of Sun Microsystems back in 1982. I like this interview because
                    it shows how much more interesting the leaders in Silicon Valley are versus the conformant executives from Wallstreet who usually give talks
                    at business schools. 
                </p></div>
            </div>
    
    <div>
        <iframe src="https://www.youtube.com/embed/_UpczzfeAFA"></iframe>
    </div>

    <div>
        <div class="text-box">
            <h2>The All-In Podcast </h2>
            <p>By far my favourite podcast. 4 Silicon Valley insiders talk about the state of the technology industry, macroeconomics, US politics
                and current affairs. The hosts have very different backgrounds and each have their own area of expertise. I've learned an enormous
                amount from just listening to this podcast. David Sacks is a member of the legendary 'PayPal Mafia' and founder of Craft Ventures, the go-to 
                VC firm for SaaS startups. Chamath is a former facebook exec, but made his name by founding Social Capital, which has landed him
                a spot on the billionairs list. David Freidberg is a former Google and Monsanto exec turned serial entrepreneur. He has a wealth of 
                knowledge in science, financial markets and entrepreneurship. Jason is the moderator and founder of the All-in Podcast. He also 
                runs a syndicate investing in early state technology companies.
            </p></div>
    </div>

    <div>
        <iframe src="https://www.youtube.com/embed/IXG2F0a6I28"></iframe>
    </div>

    <div>
        <div class="text-box">
            <h2>Peter Thiel </h2>
            <p>
                Nobody has had a larger impact on my thinking than Peter Thiel. Ever since I started listening to his speeches
                I've been absorbed by his ideas about stagnation, human nature, business, government and many other topics. 
                His best-selling book <i>Zero To One</i> about startups is what convinced me that I need to study engineering 
                in university and to one day start a technology company. I recommend watching some videos of him giving talks
                 such as the one on the left if you are at all interested in these subject matters. 
            </p>
        </div>
    </div>

</div>
