<div class="book-review-grid">

    <div>
        <img src="../../assets/books/zero-to-one.jpg">
    </div>
    <div>
        <h2>Zero To One</h2><h3>Peter Thiel & Blake Masters</h3>
        <p>
            Lori ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed non maximus sem, et malesuada quam. Praesent dignissim, 
            diam non ornare eleifend, eros velit posuere ipsum, 
            id suscipit risus turpis ac dui. Donec et massa a elit tincidunt
            porttitor et id diam. Suspendisse potenti. Nulla facilisi. 
            Proin in lacus vel velit viverra malesuada. Fusce quis metus a
            metus pretium fermentum. Nam pellentesque, nisi at ultricies
            sollicitudin, nisi nisi feugiat diam, et hendrerit turpis enim ac leo.
        </p>
    </div>

    <div>
        <img src="../../assets/books/skin-in-the-game.jpg">
    </div>
    <div>
        <h2>Skin In The Game</h2><h3>Nassim Taleb</h3>
        <p>
            Lori ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed non maximus sem, et malesuada quam. Praesent dignissim, 
            diam non ornare eleifend, eros velit posuere ipsum, 
            id suscipit risus turpis ac dui. Donec et massa a elit tincidunt
            porttitor et id diam. Suspendisse potenti. Nulla facilisi. 
            Proin in lacus vel velit viverra malesuada. Fusce quis metus a
            metus pretium fermentum. Nam pellentesque, nisi at ultricies
            sollicitudin, nisi nisi feugiat diam, et hendrerit turpis enim ac leo.
        </p>
    </div>

    <div>
        <img src="../../assets/books/free_will.jpg">
    </div>
    <div>
        <h2>Free Will</h2><h3>Sam Harris</h3>
        <p>
            Lori ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed non maximus sem, et malesuada quam. Praesent dignissim, 
            diam non ornare eleifend, eros velit posuere ipsum, 
            id suscipit risus turpis ac dui. Donec et massa a elit tincidunt
            porttitor et id diam. Suspendisse potenti. Nulla facilisi. 
            Proin in lacus vel velit viverra malesuada. Fusce quis metus a
            metus pretium fermentum. Nam pellentesque, nisi at ultricies
            sollicitudin, nisi nisi feugiat diam, et hendrerit turpis enim ac leo.
        </p>
    </div>


</div>