<div class="book-review-grid">

    <div>
        <img src="../../assets/books/zero-to-one.jpg">
    </div>
    <div>
        <h2>Zero To One</h2><h3>Peter Thiel & Blake Masters</h3>
        <p>
            Coming soon...
        </p>
    </div>

    <div>
        <img src="../../assets/books/skin-in-the-game.jpg">
    </div>
    <div>
        <h2>Skin In The Game</h2><h3>Nassim Taleb</h3>
        <p>
            Coming soon...
        </p>
    </div>

    <div>
        <img src="../../assets/books/free_will.jpg">
    </div>
    <div>
        <h2>Free Will</h2><h3>Sam Harris</h3>
        <p>
            Coming soon...
        </p>
    </div>


</div>