.chart-container {
    width:75%;
    height:35% ; 
    position:relative ; 
    top:50%; 
    left:10% ; 
}

.whiteboard {
    top:5% ;
    width : 100% ; 
    position: relative;
    color:black ; 
    background-color: inherit;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}