a {
  color:gray ; 
  font-size: 1.3vw;
  cursor: pointer;
}


img {
  width:100%;
}

.illustration{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;
}

.content {
  display: grid ; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2%;
  margin-top:7%;
  margin-left:5%;
  margin-right: 5%;
}

p{
  color:rgb(129, 129, 129);
}