<div class="content">
    <div>
        <a [routerLink]="['/finance/black-scholes']">black-scholes</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">options, risk and fat tails</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">Limits To Growth</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">FPGAs in finance</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">The Barbell Strategy</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">Betting on Black Swans</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">Portfolio Theory vs. The Power Law</a>
    </div>
    
    <div class="illustration>">
        <div>
            <img src="../../assets/amsterdam_stock_exchange.jpg">
        </div>
        <div style="margin-top:2%;">
            <p>
                <i>
                    The Amsterdam Stock Exchange (est. 1602) was the first exchange where the shares of companies could be bought and sold.
                </i>
            </p>
        </div>
    </div>
</div>