<div class="content">
    <div>
        <a [routerLink]="['/finance/black-scholes']">black-scholes</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">options, risk and fat tails</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">Limits To Growth</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">FPGAs in finance</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">The Barbell Strategy</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">Betting on Black Swans</a>
        <p><br></p>
        <a [routerLink]="['/finance/orft']">Portfolio Theory vs. The Power Law</a>
    </div>
    
    <div class="illustration>">
        <img src="../../assets/amsterdam_stock_exchange.jpg">
    </div>
</div>