<div style="float:left; height:50%; width: 60% ; margin-left:5%; margin-top:2%; color:rgb(77, 77, 77) ">
    <h2>
        4<sup>th</sup> Year Modules
    </h2>
    <table>
        <tr>
            <td></td><td>Assignment Details</td><td>Report</td>
        </tr>
        <tr>
            <td>Integrated Systems Design Lab4</td><td><a download="3C7_ProjectDescription.pdf" href="../assets/files/4C1/4C1_Lab4.pdf">PDF</a></td>
            <td><a download="3C7_ProjectReport.pdf" href="../assets/files/4C1/faheyse_lab4.pdf">PDF</a></td>
        </tr>
        <tr>
            <td>eep Learning And Its Applications</td><td><a download="4C1_lab3.pdf" href="../assets/files/4C1/4C1_lab3.pdf">PDF</a></td>
            <td><a download="4C1_lab3_report.pdf" href="../assets/files/4C1/4C1_lab3_report.pdf">PDF</a></td>
        </tr>
        <tr>
            <td>Deep Learning And Its Applications</td><td><a href="https://github.com/frcs/EE4C16-self-driving-lab" style="color:blue">GITHUB</a></td>
            <td><a href="../assets/files/DeepLearning/Lab_7.html" download="Lab_7.html">HTML</a></td>
        </tr>
    </table>

</div>

<div style="float:left; height:50%; width: 60% ; margin-left:5%; margin-top:2%; color:rgb(77, 77, 77) ">
    <h2>
        3<sup>rd</sup> Year Modules
    </h2>
    <table>
        <tr>
            <td></td><td>Assignment Details</td><td>Report</td>
        </tr>
        <tr>
            <td>3C8 Digital Circuit Design Project</td><td><a download="3C8_ProjectDescription.pdf" href="../assets/files/3C8_Combination_Lock.pdf">PDF</a></td>
            <td><a download="3C8_ProjectReport.pdf" href="../assets/files/Report.pdf">PDF</a></td>
        </tr>
        <tr>
            <td>3C7 Digital Systems Design Project</td><td><a download="3C7_ProjectDescription.pdf" href="../assets/files/3C7/Assignment2.pdf">PDF</a></td>
            <td><a download="3C7_ProjectReport.pdf" href="../assets/files/3C7/report.pdf">PDF</a></td>
        </tr>
        <tr>
            <td>Microprocessor Systems</td><td><a download="microprocessors_ProjectDescription.pdf" href="../assets/files/Microprocessors/Assignment2.pdf">PDF</a></td>
            <td><a download="microprocessors_ProjectReport.pdf" href="../assets/files/Microprocessors/group2report.pdf">PDF</a></td>
            <td><a download="microprocessors_files" href="../assets/files/Microprocessors/program_files.zip">project files</a></td>
        </tr>
    </table>

</div>


<div style="float:left; height:50%; width: 60% ; margin-left:5%; margin-top:2%; color:rgb(77, 77, 77) ">
    <h2>
        2<sup>nd</sup> Year Modules
    </h2>
    <table>
        <tr>
            <td></td><td>Assignment Details</td><td>Report</td>
        </tr>
        <tr>
            <td>Digital Electronics Assignment</td><td><a download="HW2.pdf" href="../assets/files/Digital_hw/Homework2.pdf">PDF</a></td><td><a download href="../assets/files/Digital_hw/Homework2_Report.pdf">PDF</a></td>
        </tr>
    </table>

</div>