.bio-container {
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    left: 22% ; 
    top: 18%; 
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
    z-index: 50;
    width: 55%;
    height: 50%;
    margin-bottom: 5% ;
}

a{
    color:black;
}