.bio-container {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    left: 550px ; 
    top: 150px; 
    z-index: 20;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
    z-index: 100;
    border-width: 2px;
    width: 700px;
    height: 500px;
}