<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap" rel="stylesheet">
</head>
    <!-- <div class="bio-container">
        <h3 style="margin-left:300px; margin-right:50; margin-top:5px; line-height: 40px;" [ngStyle]="{'color':text_colour}">
            Sean's blog
        </h3> -->
        <!-- <p style="margin-left:0px; line-height: 140%;margin-bottom:0%" [ngStyle]="{'color':text_colour}">
            Welcome to my (under construction) blog. I'll be using it to post about about about ideas I find interesting in many different formats. It will also serve
            as a way to showcase the work I've done both as part of my engineering degree, and as part of my own 
            learning. For example, the 'Finance' section will take you through my journey through the world of financial modelling.
            Please feel free to conatct me at faheyse@tcd.ie .

            This website is made using <a href="https://angular.io/" [ngStyle]="{'color':text_colour}">Angular 15</a> and hosted on <a href="https://cloud.google.com/" [ngStyle]="{'color':text_colour}">Google Cloud Platform</a>.
        </p> -->
    <!-- </div> -->
    <div style="display:flex;flex-direction:row; width:100% ;">
    <img src="../../assets/sandhill.jpg" style="width:60% ;height:40%; margin-right:1%;">
    <div style="font-family: 'IBM Plex Sans', sans-serif;font-size:0.9vw;width:50%; height:fit-content" [ngStyle]="{'color':text_colour}">
        <p style="float:top ; margin-top:0 ; padding-top:0"><i>Sand Hill Road, is an arterial road in western
            Silicon Valley, California, running through Palo Alto, Menlo Park, and Woodside, notable for
             its concentration of venture capital companies. The road has become a metonym for that industry;
              nearly every top Silicon Valley company has been the beneficiary of early funding from firms on Sand Hill Road.
           Its significance as a symbol of private equity and venture capitalism in the United States is compared to that of Wall Street
            and the stock market, K Street in Washington, D.C. and political lobbying, Madison Avenue for the advertising industry,
             or Harley Street in London, UK for private specialist medicine and surgery.
        </i></p>
        <p style="font-family: 'IBM Plex Sans', sans-serif; color:rgb(169, 169, 169)"> &nbsp;<b>- Wikipedia</b></p>
    </div>
    </div>