<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bio-container">
        <h3 style="margin-left:300px; margin-right:50; margin-top:5px; line-height: 40px;">
            Sean's blog
        </h3>
        <p style="margin-left:0px; line-height: 40px;">
            Hello and welcome to my blog. I'll be posting about things related to engineering, business, politics, sports and music.
            Made using Angular and hosted on Google Cloud Platform. Feel free to contact me at seanfahey10@gmail.com. 
        </p>
    </div>
</body>
