<!-- <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head> -->
<div class="grid">

    <div>
        <img src="../../../assets/finance/Kelly-Criterion.jpg.jpg">
    </div>
    <div>
        <h2> The Kelly Criterion</h2>
        <p>
            <i style="color:black">"A simple formula to help investors limit losses and maximize gains"</i>
        </p>
        <p style="padding-left:60%">
            - investopedia.com
        </p>        
    </div>

    <div>

    </div>
    <div>

    </div>

</div>