.wallpaper {
    display: flex; 
    background-image: url(https://img.freepik.com/premium-vector/oriental-wave-seamless-background-line-art-vector-illustration_149225-61.jpg?w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 1400px ; 
    z-index: -10;
}
