.wallpaper {
    background-image: url(https://img.freepik.com/premium-vector/oriental-wave-seamless-background-line-art-vector-illustration_149225-61.jpg?w=1060);
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment:fixed;
    z-index: 1;
    image-rendering:crisp-edges;
    min-height: 1000px;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 1200px;
}