.content {
    width:100%;height:100%;
}


.toolbar {
    grid-row:1/11 ; 
    align-items: center;
    font-weight: 850;
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1 fr;
    height:15%;
    min-height:90px;
}

 h2 {
    align-items: center;
    text-align: center;
    grid-row: 1;
    grid-column: 2;
 }

 .circle-container {
    grid-column:0/span 10;
    grid-row:0/ span 2;
    display:flex;
    flex-wrap: wrap;
  }

  .circle-link {
    z-index: 10;
    height:3vw;
    width: 3vw;
    border-radius:100%;
    margin: 10px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgb(0, 0, 0);
  }

  .bg {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height:100% ; 
    width:100% ; 
  }

span:hover {
    color:rgb(0, 234, 255);
  }